<div id="overlay"></div>

<aside id="mySidebar" class="sidebar">
    <div class="sidebar-head">
        <h2>Admin Panel</h2>
        <span id="closeBtn">&times;</span>
    </div>

    <nav class="sidebar-nav">
        <a href="admin/index.html" class="nav-link">
            <i class="fas fa-home"></i> Dashboard
        </a>

        <a href="/admin/pages/trip-fare.html" class="nav-link">
            <i class="fas fa-calculator"></i> Trip Fare
        </a>
        <a href="admin/pages/invoice.html" class="nav-link">
            <i class="fas fa-file-invoice"></i> Invoice
        </a>

        <a href="/index.html" class="nav-link">
            <i class="fas fa-globe"></i> Public Site
        </a>
    </nav>
</aside>
