<div id="overlay"></div>

<aside id="mySidebar" class="sidebar">
    <div class="sidebar-head">
        <h2>Hypro Cabs</h2>
        <span id="closeBtn">&times;</span>
    </div>

    <nav id="sidebarMenu" class="sidebar-nav">

        <a href="/" class="nav-link">
            <i class="fas fa-home"></i> <span>Home</span>
        </a>

        <!-- Future Public Pages ഇവിടെ add ചെയ്യാം -->

        <a href="/admin/index.html" class="nav-link">
            <i class="fas fa-user-shield"></i> <span>Admin Panel</span>
        </a>

    </nav>
</aside>
